body{
    margin: 0;
    padding: 0;
    background-image: url(aa.jpg) ;
    background-size: cover;
    background-position: center center;
    height: 100vh;

}

.container
    {
        width: 670px;
        height: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        background-color: transparent;
    }

.container h2{
    text-align: center;
    font-weight: 500;
    font-family: sans-serif;
    margin-bottom: 10px;
    padding: 13px 0;
}


    input[type="text"],
    input[type="number"]
    {   display: block;
        background: none;
        text-align: center;
        width: 250px;
        border: 2px solid black;
        margin: 20px auto;
        padding: 14px 10px;
        color: white;
        border-radius: 4px;
        transition: 0.25s;
        cursor: pointer;
        
    
    }
    
    input[type="submit"]
    {
        display: block;
        background: none;
        text-align: center;
        width: 120px;
        border: 2px solid #e40d0dec;
        margin: 20px auto;
        padding: 14px 10px;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
    
    }
    input[type="submit"]:hover
    {
     background-color: black;   
    }
    
    input[type="text"]:focus, 
    input[type="number"]:focus{
        width: 280px;
        border-color: #09df5b;
    }